html, body {
    margin: 0;
    padding: 0;
    background-color: #1F2937;
    font-family: sans-serif;
}

.generate {
    color: white;
    margin: 100px;
    margin-left: 500px;
    margin-bottom: 10px;
    padding: auto;
    text-align: left;
}

h1 {
    font-weight: bolder;
}

h2 {
    font-weight: lighter;
}

button {
    background-color: #10B981;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
}

#generate-btn {
    margin: 30px;
    margin-left: 50px;
}

.input-num {
    padding: 5px;
    background-color: #273549;
    color: #55F991;
    border: none;
    text-align: center;
    border-radius: 3px;
}

.input {
    padding: 5px;
    background-color: #273549;
    color: #55F991;
    border: none;
    text-align: center;
    margin: 5px;
    border-radius: 3px;
}

.output {
    color: white;
    margin-left: 380px;
    margin-right: 340px;
    margin-top: 10px;
    padding-top: 25px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: solid #2F3E53 2px;
}

#copy-btn {
    margin-left: 20px;
}

.sep-color {
    color: #4ADF86;
}


